<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:db.properties" />
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
		</property>
		<property name="url"
			value="${url}">
		</property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/lzm/domain/Employee.hbm.xml</value>
				<value>com/lzm/domain/Mail.hbm.xml</value>
				<value>com/lzm/domain/Holiday.hbm.xml</value></list>
		</property>
		
</bean>
	
	<bean id="EmployeeDAO" class="com.lzm.dao.EmployeeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="employeeServiceImpl" class="com.lzm.serviceImpl.EmployeeServiceImpl" p:employeeDAO-ref="EmployeeDAO" />

	<bean id="employeeAction" class="com.lzm.action.EmployeeAction" p:employeeServiceImpl-ref="employeeServiceImpl"/>
	
	<bean id="mailDAO" class="com.lzm.dao.MailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="mailServiceImpl" class="com.lzm.serviceImpl.MailServiceImpl" p:mailDAO-ref="mailDAO" />

	<bean id="mailAction" class="com.lzm.action.MailAction" p:mailServiceImpl-ref="mailServiceImpl"/>

	

</beans>